fastapi
uvicorn[standard]
pydantic
pydantic-settings
dramatiq
redis
psycopg2-binary
alembic
sqlalchemy
pyyaml
polars
pandas
openpyxl
pyjwt
cryptography
fastexcel
python-multipart
pytz
python-dateutil
reportlab
python-docx
python-pptx
